{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Departments {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('create_department') }}">Back to list</a>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ department.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
