{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Users {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('order_index') }}">Back to Order list</a>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <th>number</th>
            <td>{{ order.number }}</td>
        </tr>
        <tr>
            <th>Total Price</th>
            <td>{{ order.totalPrice }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
