{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Vacations {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Create new Vacation</a>

    {% for vacation in vacations %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <span class="h2">{{ vacation.user.username }} {{ vacation.dateFrom|date("m/d/Y") }} - {{ vacation.dateTo|date("m/d/Y") }}</span>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Show</a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Edit</a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="#">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if vacations|length < 1 %}
        <p> Nothing found. </p>
    {% endif %}
{% endblock %}
