{% extends 'layouts/base.html.twig' %}

{% block title %} CV portalas {% endblock %}

{% block body %}
    <h1>Gabrielius Jurgelionis IFF-7/5</h1>
    <a href="https://ibb.co/KLPkm8N"><img src="https://i.ibb.co/jWN2HjV/U-duotis.png" border="0"></a>
    {% endblock %}