{% block flash_messages %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert-error">
                <p>{{ message | raw }}</p>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
