<nav class="navigation">
    <div class="row">
        <div class="col-6">
            <img src="{{ asset('assets/images/logo.png') }}" width="220px" alt="site logo">
        </div>
        <div class="col-6 text-right">
            <div class="nav-social-icons justify-content-end align-items-center d-none d-md-flex">
                <div class="faq-btn mr-4">
                    <a href="#" data-toggle="modal" data-target="#faqModal">FAQ</a>
                </div>
                <div class="bubble d-flex justify-content-center align-items-center">
                    <a target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
                <div class="bubble d-flex justify-content-center align-items-center">
                    <a target="_blank" href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <div class="bubble d-flex justify-content-center align-items-center">
                    <a target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>
            <div class="nav-social-icons justify-content-end align-items-center d-flex d-md-none">
                <div class="bubble d-flex justify-content-center align-items-center">
                    <a href="#" class="show-mobile-menu">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
