<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('user_index') }}">
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('order_index') }}">
                    Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('order_personal_index') }}">
                    My Orders
                </a>
            </li>
        </ul>

    </div>
</nav>
