<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('user_index') }}">
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('vacation_index') }}">
                    Vacations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('vacation_request_index') }}">
                    Vacation Requests
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('department_index') }}">
                    Departments
                </a>
            </li>
        </ul>

    </div>
</nav>
